<div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/signup">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/login">Log In</a>
    </li>
  </ul>
</div>

<div>
  <div class="container align-items-center">
    <h1>Welcome to newsOwl!</h1>
  </div>
  <div class="container align-items-center">
    <p>Get your personalized news feed. Daily</p>
  </div>
</div>

<a href="/private" class="nav justify-content-center">Private</a>