<div class="index-background">
  <div class="d-flex flex-column">
    <div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" style="color: white" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: white" href="/login">Log In</a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container flex-column">
      <div class="d-flex justify-content-center">
        <h1 class="d-flex align-middle" style="color: white">Welcome to newsOwl!</h1>
      </div>
      <div class="d-flex justify-content-center" style="color: white">
        <p>Get your personalized news feed. Daily.</p>
      </div>
    </div>
  </div>
</div>
</div>