<div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/logout">Logout</a>
    </li>
  </ul>
</div>

<br>
<div class="d-flex justify-content-center">
  <h1 class="dashboard-h1">Welcome to newsOwl</h1>
</div>