<div>
    <div style="background-color: black">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" style="color: white" href="/login">Log in</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-center">
            <div class="flex-row text-center">
                <br>
                <div>
                    <img src="https://txt-dynamic.static.1001fonts.net/txt/dHRmLjI0MC4wMDAwMDAuYm1WM2MwOTNiQSwsLjM,/world-of-water.regular.png"
                        alt="newsOwl logo" style="width: 30vw;">
                </div>
                <br>
                <br>
                <br>
                <h3>Sign up</h3>
                <div class="container d-flex flex-row justify-content-center">
                    <form action="/signup" method="POST">
                        <div>
                            <label for="username"></label>
                            <input type="text" class="form-control" name="username" id="username"
                                placeholder="Username">
                        </div>
                        <div>
                            <label for="password"></label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            <br>
                            <div class="wrapper">
                                <span class="group-btn">
                                    <button type="submit" class="btn btn-primary btn-md"
                                        style="background-color: black; border-color: black">Sign up</button>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
            </form>


            {{#if message}}
            <p style="color: red">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>