<div>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/login">Log in</a>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column">
        <div class="row text-center">

            <form action="/signup" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" class="col text-align-center" name="username" id="username"
                        placeholder="username">
                    <br>
                </div>
                <div>
                    <label for="password">password:</label>
                    <input type="password" class="col text-align-center" name="password" placeholder="password">
                    <br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="submit" class="btn btn-primary btn-md">Sign up</button>
                        </span>
                    </div>
                </div>
            </form>


            {{#if message}}
            <p style="color: red">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>